{% extends 'base.html' %}
{% load static %}


{% block title %}My Account{% endblock title %}

{% block content %}
    <h3>{{ profile.user }}</h3>
    {% if profile.image %}
        <img src="{{ profile.image.url }}" alt="profile_image" width="300" />
    {% endif %}
{% if user.is_authenticated %}
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}

    <input type="submit" value="Update" class="btn btn-success">
</form>
    {% if user == profile.id %}
        <a href="{% url 'event_edit' event.id %}" class="btn btn-success"><i class="bi bi-pencil"></i>edit</a>
        <a href="{% url 'event_delete' event.id %}" class="btn btn-danger"><i class="bi bi-trash"></i>delete</a>
        <!-- <input class="primary-btn" type="button" value="Edit"> -->
        <!-- <input class="secondary-btn" type="button" value="Delete"> -->
    {% else %}
        <input class="secondary-btn" type="button" value="Cancel">
    {% endif %}
{% else %}
    <a href="{% url 'login' %}" class="primary-a">Attend</a>
{% endif %} 
{% endblock content %}
