{% extends 'base.html' %}
{% load static %}

{% block title %}Login{% endblock title %}

{% block content %}

<div class="account-form-contanier">
    <div class="account-form">

        <div>
            <a href="{%  url 'home' %}"  rel="noopener noreferrer">
                <img class="logo-image-footer" src="{% static 'img/ep logo.png' %}" alt="">
            </a>
            
        </div>

        <p class="style4">Login</p>

        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input class="b-primary" type="submit" value="Login">
        </form>

        <div class="create-account" >
            <p style="margin-top: 2rem; ">New here?</p>
            <a href="{%  url 'signup' %}"  rel="noopener noreferrer"> Create account</a>
        </div>
        
        
    </div>
</div>

{% endblock content %}