{% extends 'base.html' %}
{% load static %}

{% block title %}About us{% endblock title %}

{% block content %}


<div class="terms-container">

    <div>
        <a href="{%  url 'login' %}" rel="noopener noreferrer">
            <img class="logo-image-footer" src="{% static 'img/ep - full.png' %}" alt="">
        </a>

    </div>

    <p class="style4">Welcome to eventpride!</p>
    <div class="term-p">
        <p class="style7">
            Welcome to eventpride - your ultimate destination for discovering and hosting exhilarating online and
            in-person events throughout California, USA. Created by the talented minds of Aaron Pride and Fernanda
            Murillo, EventPride was born as a scholar project
            with a mission to bring people together, celebrate diverse passions, and ignite unforgettable experiences.
            Inspired by the renowned platform Eventbrite, we take pride in our user-friendly design and cutting-edge
            technology, making event organization seamless for both hosts and attendees.</p>

        <p class="style7">
            At eventpride, we believe in the power of connection and the joy of shared moments. Our platform is a
            celebration of creativity, innovation, and community-driven experiences. From electrifying concerts to
            enriching workshops, we curate a wide array of events to cater to every interest and taste.

            Join us on this thrilling journey of discovery and empowerment. Whether you're a seasoned event organizer or
            a curious attendee, EventPride is your gateway to a world of endless possibilities.
        </p>


    </div>
    <p class="style1 slogan">Discover, Attend, Connect</p>
</div>



{% endblock content %}