{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock title %}

{% block content %}

<div class="home-banner-container">
    <div class="img-home-banner-container">
        <img class="img-home-banner" src="{% static 'img/cover.jpg' %}" alt="" srcset="">
    </div>
    <div class="text-home-banner-container">
        <p>
            {% if user.is_authenticated %}
        <p class="style1">Hello, {{ user.username }}!</p>
        <p class="style2">Discover, Attend, Connect</p>
        <a href="{% url 'create'%}"> 
            <input class="b-primary" type="button" value="Create Event">
        </a>
            
        {% else %}
        <p class="style1">Find your people!</p>
        <p class="style2">Discover, Attend, Connect</p>
            <a href="{% url 'login' %}">
                <input class="b-primary" type="button" value="Join Me">
            </a>
            
        {% endif %}
        </p>
    </div>

    <div class="events-list">
        <nav class="nav-categories">
            <a class="a-primary all" href="{% url 'home'%}">All</a>
            {% for category in categories_list %}
            <a class="a-primary" href="{% url 'by_cat' category.0 %}">{{ category.0 }}</a>
            {% endfor %}
        </nav>

        <div class="section-title">
            {% if user.is_authenticated %}
            <p class="style4">Events for <span class="capitalize">{{ user.username }}</span></p>

            {% else %}
            <p class="style4">Events For You</p>
            {% endif %}
        </div>

        <div class="event-container">
            {% for event in events_list %}

            <div class="event-card" id="event-card">

                <img class="img-event-card" src="{{ event.thumbnail.url }}" alt="" srcset=""
                    onclick="displayDetails('{{ event.id }}')">

                <div class="event-details">
                    <div class="wrap-name-favorite">
                        <p onclick="displayDetails('{{ event.id }}')" class="style5">{{ event.name }}</p>
                        <i onclick="addFavorite(event)" class="b-favorite bi bi-star"></i>
                    </div>

                    <p class="style6">{{ event.date_picker }} - {{ event.start_time }}</p>
                    <p class="style2">{{ event.modality }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="events-list">
        
        <div class="section-title">
            <p class="style4">Connect in person</p>
        </div>

        <div class="event-container">
            {% for event in events_list %}
                {% if event.modality == "In-person"%}
                <div class="event-card" id="event-card">

                    <img class="img-event-card" src="{{ event.thumbnail.url }}" alt="" srcset=""
                        onclick="displayDetails('{{ event.id }}')">

                    <div class="event-details">
                        <div class="wrap-name-favorite">
                            <p onclick="displayDetails('{{ event.id }}')" class="style5">{{ event.name }}</p>
                            <i onclick="addFavorite(event)" class="b-favorite bi bi-star"></i>
                        </div>

                        <p class="style6">{{ event.date_picker }} - {{ event.start_time }}</p>
                        <p class="style2">{{ event.city }}</p>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
        </div>       
    </div>

</div>

{% endblock content %}