{% extends 'base.html' %}

{% block title %}Terms{% endblock title %}

{% block content %}


<div class="terms-container">
    <p class="style4">General Terms and Conditios</p>
    <div class="term-p">
        <p class="style7">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur rutrum id dolor et commodo. Proin
            hendrerit
            magna ex, in pharetra risus porttitor viverra. Curabitur posuere tellus eu lectus vulputate interdum. Fusce
            placerat id tellus at condimentum. Proin sagittis ligula sit amet velit condimentum, quis maximus purus
            blandit.
            Duis varius sem a velit gravida feugiat et ut ante. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Proin lobortis elit nec eros egestas vulputate.
        </p>

        <p class="style7"> Nulla eu pulvinar orci, id lobortis dui. Vivamus vel malesuada urna. Aenean pellentesque
            nulla nec sapien
            luctus, nec pulvinar augue bibendum. Vivamus consectetur venenatis augue. Fusce pulvinar, urna vitae
            efficitur
            tincidunt, sapien nisl posuere ipsum, lacinia dictum purus quam nec felis. Suspendisse dignissim orci augue,
            sit
            amet convallis purus iaculis at. Fusce vitae gravida dolor. Phasellus efficitur, augue sit amet pharetra
            vulputate, lacus tellus bibendum dolor, id faucibus enim metus eu mi. Curabitur eget rhoncus turpis. Aenean
            sagittis velit mollis auctor convallis. Vivamus scelerisque dolor sit amet porttitor cursus. Sed ultrices
            lectus
            libero, eget elementum justo rhoncus in. Cras dapibus suscipit elit interdum elementum. Nulla malesuada
            risus eu
            lacus eleifend, vel cursus magna laoreet. Aliquam aliquam eros in libero vehicula lobortis. Curabitur velit
            justo, viverra vitae odio et, venenatis malesuada erat.</p>

        <p class="style7">Curabitur scelerisque tellus placerat, imperdiet erat vitae, ultricies est. Suspendisse lorem
            nibh, iaculis ac
            pulvinar id, egestas pulvinar lacus. Quisque fringilla molestie nisl quis accumsan. Duis eget consectetur
            erat.
            Praesent pretium gravida metus, id vulputate turpis. Proin vehicula, diam eu rhoncus faucibus, diam eros
            suscipit massa, vel faucibus metus odio et dui. Suspendisse potenti.</p>

        <p class="style7">Phasellus lobortis dolor id auctor cursus. Donec rutrum diam nibh, non mattis est fringilla
            sed. Quisque mollis
            quam eu tempus accumsan. Phasellus mattis mattis varius. Vestibulum vulputate tortor sed fermentum finibus.
            Etiam in nisl condimentum, venenatis tortor in, varius nibh. Integer eu dui interdum velit luctus dignissim.
            Cras ut massa quis erat cursus bibendum molestie ut leo. Aliquam lacinia auctor turpis, in consequat quam
            gravida sit amet. Vestibulum non ligula auctor, ornare lectus eget, interdum urna. Suspendisse condimentum
            pulvinar erat pulvinar hendrerit. Duis id malesuada nisi. Suspendisse ultrices, augue ac varius convallis,
            eros
            purus interdum neque, ac volutpat ipsum mi id ex. Maecenas iaculis nunc porta felis elementum, at ultricies
            nisi
            mollis.</p>

        <p class="style7">Proin consectetur sapien eu semper pulvinar. Phasellus at blandit neque, in tempus orci.
            Praesent dui ex,
            dignissim id ligula in, vestibulum tincidunt eros. Integer lacinia maximus vehicula. In non arcu elementum,
            auctor dui in, porta risus. Sed lacinia sapien lectus, in congue diam pellentesque vitae. Quisque porttitor
            convallis enim et egestas. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac
            turpis
            egestas. Mauris ut aliquam neque, non iaculis turpis. Nulla in odio massa. Suspendisse potenti. Proin nunc
            nisl,
            posuere quis ipsum pretium, ornare auctor mi. Pellentesque mattis ante vulputate, mollis orci et,
            pellentesque
            dui. Nulla vestibulum nibh vestibulum orci porttitor, non sodales lacus tincidunt.</p>
    </div>

</div>

{% endblock content %}