body{
    font-family: "Inter";
    color: #333333;
}

h1{
    margin: 150px;
}

.subtitle{
    margin: 0px 150px;
}

.nav-container{
    background-color: #F6F6F6;
    height: 20px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-search{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content:end;
    /*border: solid 1px #333333;*/
}

.nav-search-text{
    width: 80%; 
    height: 25px;
}

.nav-menu{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*border: solid 1px #333333;*/
}

.primary-btn{
    width: 150px;
    height: 30px;
    margin: 10px;
    border: 0px;
    background-color: #C82804;
    color: white;
    border-radius: 2px;
    font-size: 18px;   
    text-decoration: none;
}

.primary-btn:hover{
    border: 0px;
    background-color: #961E03;
    color: white;
}

.secondary-btn{
    border: solid 1px #C82804;
    background-color: #FFFFFF;
    color: #C82804;
    width: 150px;
    height: 30px;
    margin: 10px;
    border-radius: 2px;
    font-size: 18px; 
}

.secondary-btn:hover{
    border: 0px;
    background-color: #FDAD9B;
    color: #641402;
}

.primary-a{
    padding: 3px 20px;
    border: 0px;
    background-color: #C82804;
    color: white;
    border-radius: 2px;
    font-size: 18px;   
    text-decoration: none;
}

.primary-a:hover{
    border: 0px;
    background-color: #961E03;
    color: white;
}

.content{
    min-height: 700px;
}

.footer-container{
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    border: solid 1px #333333;
}

.nav-footer{
    margin-top: 20px;
}

.nav-footer-item{
    margin: 10px;
}

.logo-image-footer{
    width: 100px;
    margin-bottom: 20px;
}

@media(max-width:1300px){
    .nav-menu{
        visibility: hidden;
    }
}