.events-list{
    display: flex;
    flex-direction: column;
    align-items:center;
    
}

.event-container {
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-start;
    row-gap: 1rem;
    column-gap: 1rem;
    width: 80%;
    align-items:center;
    margin-bottom: 3rem;
    
}

.event-card {
    width: 18rem;
    border: solid 0.1px #D9D9D9;
    height: 275px;
}

.img-event-card {
    width: 100%;
    height: 150px;
    object-fit: cover;
    object-position: center 65%;
    border-radius: 1px;
}

.img-event-card:hover {
    cursor: pointer;
}

.event-details{
    padding: 2%;
}

.event-name:hover {
    cursor: pointer;
}

.b-favorite {
    font-size: 2rem;
    color: #7D20D3;
    cursor: pointer;
    margin: 0px;
    padding: 0px;
}

.b-favorite:hover{ 
    color: #4E1485;
}

.wrap-name-favorite{
    display: grid;
    grid-template-columns: 4fr 1fr;
    align-items: top;
}


.new-event-contanier{
    display: flex;
    align-items:flex-start;
    justify-content: center;
    width: 100%;
    height: 60rem;
    background-color: #f7f2fb;
}

.new-event-form{
    margin-top: 2%;
    padding: 2%;
    background-color: #FFFFFF;
}


.card:hover{
    background-color: #f5f3f897;
}

.list-status{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 2%;
}

.e-list{
    width: 80%;
}


.img-event-banner{
    width: 100%;
    height: 250px;
    object-fit: cover;
    object-position: center 40%;
    border: none;
}

.details{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    margin-top: 2%;
}