/*Root element size*/
html {
    font-size: 14px;
}

/*1 rem = 16 px*/
@font-face {
    font-family: "lobster";
    src: url(../fonts/Lobster-Regular.ttf);
}

@font-face {
    font-family: "openSans";
    src: url(../fonts/OpenSans-Regular.ttf);
}


* {
    font-family: openSans;
}

.style1 {
    color: #4E1485;
    text-transform: capitalize;
    font-family: lobster;
    font-size: 4rem;
    margin: 0;
}

.style2 {
    font-size: 1.2rem;
    font-style: italic;
    margin: 0;
}

.style3 {
    font-size: 0.8rem;
}

.style4 {
    font-size: 2rem;
    letter-spacing: -1px;
}

.capitalize {
    text-transform: capitalize;
}

.style5{ /*Events name*/
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0px;
    padding: 0px;
    color: #7D20D3;
}

.style6{
    margin: 0;
}

.style7{
    font-size: 1rem;
}

/*<a> and buttons*/
.all {
    border-bottom: 2px solid #7D20D3;
}

.a-primary {
    border-radius: 2px;
    height: 35px;
    padding: 0 2%;
    text-decoration: none;
    color: #333333;
    display: flex;
    align-items: center;
    justify-content: center;
}

.a-primary:hover {
    background-color: #4E1485;
    color: #FFFFFF;
}

.a-secondary{
    border-radius: 2px;
    height: 35px;
    padding: 0 2%;
    text-decoration: none;
    color: #4E1485;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFB700;
}

.a-secondary:hover{
    background-color: #CC9200;
}

.current {
    background: #7D20D3;
    border-radius: 2px;
    height: 35px;
    padding: 0 2%;
    text-decoration: none;
    color: #333333;
    display: flex;
    align-items: center;
    justify-content: center;
}

.b-primary {
    background-color: #7D20D3;
    color: #FFFFFF;
    border-radius: 2px;
    height: 35px;
    padding: 0 3%;
    border: none;
}

.b-primary:hover {
    background-color: #4E1485;
}

.b-secondary {
    background-color: #FFB700;
    color: #4E1485;
    border-radius: 2px;
    height: 35px;
    padding: 0 3%;
    border: none;
}

.b-secondary:hover {
    background-color: #CC9200;
}

/*Input: Text*/

.input-text {
    border: none;
    border-bottom: 2px solid #7D20D3;
    height: 35px;
}

.input-text::placeholder {
    color: #D9D9D9;
}

.input-text:focus {
    outline: solid 2px #7D20D3;
}

.input-text:hover {
    background-color: #f7f2fbd6;
}


label{
    color: #4E1485;
    font-size: 1.2rem;
    font-weight: 600;
    margin-right: 2px;
}

input[type="text"].input-text {
    border: none;
    border-bottom: 2px solid #7D20D3;
    height: 35px;
}

.input-text::placeholder {
    color: #D9D9D9;
}

.input-text:focus {
    outline: solid 2px #7D20D3;
}

.input-text:hover {
    background-color: #f7f2fbd6;
}
